*{
    background-color: #d8d2d2;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header {
    padding: 20px 40px;
    border: 2px solid #6666;
}
header .logo{
    width: 10%;
}
header nav {
    display: inline;
    float: right;
    padding: 3% 5%;
    background-color: aqua;
}
header nav .redes-sociales {
    color: #ffffff;
    text-decoration: none;
}
header nav .redes-sociales:active {
    color: red;
}
main{
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
}
main article h1{

    text-align: center;
    line-height: 2;
    word-spacing: 10px;
    text-shadow: 5px 10px 15px #000;
}
main article h2{
    font-family: Arial, sans-serif;
    text-align: justify;
    text-transform: uppercase;
}
main article h3{
    font-family: Arial, sans-serif;
    text-align: justify;
    text-transform: lowercase;
}
main article h4{
    font-family: Arial, sans-serif;
    text-align: justify;
    text-transform: capitalize;
}
main article p{
    font-family: Arial, sans-serif;
    text-align: justify;
    line-height: 2;
}
main article section .last-element{
    margin-top: 100px;
}
main > article:first-child{
    background-color: rgb(135, 206, 250);
    padding: 10px;
}
main article section > p:last-child{
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: rgb(191, 0, 255);
    padding: 10px;
}
main article > section:nth-child(2) > p:last-child{
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: rgb(255, 0, 149);
    padding: 10px;
}
main article section > a{
    background-color: rgb(97, 134, 152);
}
main article section > a:visited{
    background-color: rgb(97, 134, 152);
}
/* SELECTOR POR ATRIBUTO */
.formulario input[type="text"], .formulario input[type="email"], .formulario input[type="password"]{
    width: 20%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: #ffffff;
}
.formulario{
    margin: 50px 50px; 
}
footer {
    padding: 20px 40px;
    border: 2px solid #6666;
}
footer nav {
    display: inline;   
    padding: 3% 5%;
    float: right;
    background-color: aqua;
}
footer .logo{
    width: 10%; 
}
footer nav .redes-sociales {
    color: #ffffff;
    text-decoration: none;
}
footer nav .redes-sociales:hover {
    text-decoration: underline;
    color: black;
    
}

#titulo-general{
    color: red;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: 500;
}