*{
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
}

header{
    background-color: #f5f5f5;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

}

h1{
    font-family: "Chango", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #333;
}